:root {
  --white: #ffffff;
  --black: #000000;
  --seafoam: #3aafa9;
  --cream: #def2f1;
  --darkblue: #17152a;
  --lighttan: #ffffffce;
  --darkgray: #343a40;
  --hovergreen: #2b7a78;
}

/* Boilerplate CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

/* Navigation */
.navbar {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  text-align: center;
}

#brand {
  color: var(--darkblue);
  font-size: 24px;
  margin-left: 10px;
  transition: color 0.3s, transform 0.3s;
}

#brand:active,
#brand:hover {
  color: var(--seafoam);
  transform: scale(1.1);
}

.nav-item > .nav-link {
  color: var(--darkblue);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item > .nav-link:hover {
  background-color: var(--darkblue);
  color: var(--white);
  transform: scale(1.05);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(23,21,42,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border: none;
  transition: transform 0.3s ease;
}

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,175,169,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  transform: scale(1.1);
}

.active-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,175,169,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  transform: rotate(90deg);
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}

/* Vertical Left Nav */
#verticalBrand {
  position: absolute;
  top: 0;
  margin-top: 1rem;
  margin-right: 0;
  color: var(--darkblue);
  font-size: 1.5rem;
  transition: color 0.3s, transform 0.3s;
}

#verticalBrand:hover {
  color: var(--seafoam);
  transform: scale(1.1);
}

#sidebarNav,
.sidebar-link {
  display: none;
}

.active-vertical-icon {
  color: var(--seafoam);
}

@media screen and (min-width: 768px) {
  .sidebar-link {
    display: inline;
    color: var(--darkblue);
    font-size: 24px;
    margin: 12px 0;
    transition: color 0.3s, transform 0.3s;
  }

  .sidebar-link:hover {
    color: var(--seafoam);
    transform: scale(1.1);
  }

  #sidebarNav {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 80px;
    height: 100vh;
    box-shadow: 4px 0 14px -2px rgba(0, 0, 0, 0.1);
  }
}

/* All Sections */
.hero-section,
.about-section,
.projects-section,
.javascript-section,
.blog-section,
.contact-section {
  padding: 60px 0;
  background: var(--white);
  overflow: hidden;
}

.about-section h2,
.projects-section h2,
.javascript-section h2,
.blog-section h2,
.contact-section h2 {
  color: var(--seafoam);
  margin: 20px 0 40px;
}

p {
  font-size: 1.25rem;
}

h3 {
  color: var(--seafoam);
}

@media (min-width: 768px) {
  .hero-section,
  .about-section,
  .projects-section,
  .javascript-section,
  .blog-section,
  .contact-section {
    margin-left: 80px;
    padding-right: 50px;
  }
}

/* Home page content */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--darkblue);
  text-align: center;
  background: url("/images/lajollashores2.jpg") center center / cover no-repeat;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

#homeContentContainer {
  z-index: 2;
  position: relative;
  padding: 40px;
  max-width: 600px;
  width: 90%;
}

.name {
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

.first-name,
.last-name {
  font-size: 3.5rem;
  font-weight: 100;
  color: var(--seafoam);
}

section#Home h1 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.linkedin-github {
  color: var(--darkblue);
  font-size: 28px;
  transition: color 0.3s, transform 0.3s;
}

.linkedin-github:hover,
.linkedin-github:active {
  color: var(--hovergreen);
  transform: scale(1.1);
}

.home-button {
  display: inline-block;
  height: 40px;
  width: 220px;
  padding-top: 4px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  background-color: var(--darkblue);
  color: white;
  font-size: 20px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.home-button:hover {
  background-color: var(--seafoam);
  transform: scale(1.1);
  color: white;
}

@media (min-width: 768px) {
  .name {
    flex-direction: row !important;
    gap: 15px;
  }
  .social-links {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh;
    gap: 20px;
    position: fixed;
    right: 1rem;
    top: 40%;
    z-index: 5;
  }
}

/* About Page */
.devicon {
  font-size: 4rem;
  color: var(--darkblue);
  transition: color 0.3s, transform 0.3s;
}

.devicon:hover {
  color: var(--hovergreen);
  transform: scale(1.1);
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Projects Page */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projects-section {
  position: relative;
  background: url("/images/lajollashores1.jpg") no-repeat center center;
  background-size: cover;
}

.projects-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

#projectsContentContainer {
  position: relative;
  z-index: 2;
}

.dotnet-proj-devi {
  font-size: 2.5rem;
}

/* Javascript Projects Page */
.btn-primary {
  border: none;
  background-color: var(--darkblue);
  color: white;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
  background-color: var(--seafoam);
  transform: scale(1.1);
}

.btn-secondary {
  border: solid 1px var(--darkblue);
  background-color: white;
  color: var(--darkblue);
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-secondary:hover {
  background-color: var(--seafoam);
  transform: scale(1.1);
}

/* Blog Section */
.blog-section {
  position: relative;
  background: url("/images/lajollashores3.jpg") no-repeat center center;
  background-size: cover;
}

.blog-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

#blogContentContainer {
  position: relative;
  z-index: 2;
}

.footer {
  background: var(--lightgray);
  color: var(--darkgray);
}

.tooltip {
  z-index: 10000 !important; /* Ensure tooltips are above other elements */
}
