:root {
  --white: #ffffff;
  --black: #000000;
  --seafoam: #3aafa9;
  --cream: #def2f1;
  --darkblue: #17152a;
  --lighttan: #ffffffce;
  --darkgrey: #343a40;
  --hovergreen: #2b7a78;
}

/* Boilerplate CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Navigation */

.navbar {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.nav-item > .nav-link {
  color: var(--darkblue);
  background-color: var(--lightgrey);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item > .nav-link:hover {
  background-color: var(--darkblue);
  color: var(--white);
  transform: scale(1.05);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#sidebarNav,
.sidebar-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: none;
  }

  .sidebar-link {
    display: inline;
    color: var(--darkblue);
    font-size: 24px;
    margin: 12px 0;
    transition: color 0.3s, transform 0.3s;
  }

  .sidebar-link:hover {
    color: var(--seafoam);
    transform: scale(1.1);
  }

  #sidebarNav {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 80px;
    height: 100vh;
    background-color: var(--lighttan);
    box-shadow: 4px 0 14px -2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
}

#brand {
  color: var(--darkblue);
  font-size: 24px;
  margin-left: 10px;
  transition: color 0.3s, transform 0.3s;
}

#brand:active,
#brand:hover {
  color: var(--seafoam);
  transform: scale(1.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(23,21,42,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border: none;
}

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,175,169,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,175,169,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar-nav {
  text-align: center;
}

#verticalBrand {
  position: absolute;
  top: 0;
  margin-top: 1rem;
  margin-right: 0;
  color: var(--darkblue);
  font-size: 1.5rem;
  transition: color 0.3s, transform 0.3s;
}

#verticalBrand:hover {
  color: var(--seafoam);
  transform: scale(1.1);
}

/* Home page content */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--darkblue);
  text-align: center;
  background: url("/images/beach.png") center center / cover no-repeat;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

#homeContentContainer {
  z-index: 2;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 90%;
}

@media (min-width: 768px) {
  .hero-section,
  .projects-section,
  .minisites-section,
  .blog-section,
  .contact-section {
    margin-left: 80px;
  }
}

.linkedin-github {
  color: var(--darkblue);
  font-size: 28px;
  transition: color 0.3s, transform 0.3s;
}

.linkedin-github:hover,
.linkedin-github:active {
  color: var(--hovergreen);
  transform: scale(1.1);
}

.home-button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: none;
  background-color: var(--darkblue);
  color: white;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.home-button:hover {
  background-color: var(--seafoam);
  transform: scale(1.1);
}

/* other sections */
.about-section,
.projects-section,
.minisites-section,
.blog-section,
.contact-section {
  padding: 60px 0;
  background: var(--white);
}

.about-section h2,
.projects-section h2,
.minisites-section h2,
.blog-section h2,
.contact-section h2 {
  margin-bottom: 40px;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.footer {
  background: var(--lightgray);
  color: var(--darkgray);
}
